<a href="{% url 'personagabriels:steress' %}" class="nav_link">
  <i class='bi bi-palette-fill nav_icon'></i>
  <span class="nav_name">Steres</span>
</a>
<a href="{% url 'personagabriels:users' %}" class="nav_link">
  <i class='bi bi-palette-fill nav_icon'></i>
  <span class="nav_name">User</span>
</a>
<a href="{% url 'personagabriels:preductss' %}" class="nav_link">
  <i class='bi bi-palette-fill nav_icon'></i>
  <span class="nav_name">Preducts</span>
</a>
<a href="{% url 'personagabriels:sheppingcarts' %}" class="nav_link">
  <i class='bi bi-palette-fill nav_icon'></i>
  <span class="nav_name">Sheppingcart</span>
</a>
